@page "/"

<PageTitle>@AppName</PageTitle>

<h1>@AppName</h1>

@if (isLoading)
{
    <span>Loading...</span>
}
else if (client is null)
{
    <EditForm Model="LoginModel"
              OnValidSubmit="LogInToMastodon">
        <InputText @bind-Value="LoginModel.Instance" />
        <div>
            <button type="submit"
                    class="btn btn-primary">
                Log In
            </button>
        </div>
    </EditForm>

    <EditForm Model="LoginModel"
              OnValidSubmit="AuthorizeWithAuthCode">
        <InputText @bind-Value="LoginModel.AuthCode" />
        <div>
            <button type="submit"
                    class="btn btn-primary">
                Authorize
            </button>
        </div>
    </EditForm>
}
else if (HomeTimeline is not null)
{
    <button type="button"
            class="btn btn-danger"
            @onclick="@LogOut">
        Log Out
    </button>

    foreach (var status in HomeTimeline)
    {
        <p>@status.Content</p>
    }
}
