@page "/"

<PageTitle>@PageTitle</PageTitle>

<h1>@PageTitle</h1>

@if (client is null)
{
    <EditForm Model="LoginModel" OnValidSubmit="AuthenticateAsync">
        <InputText @bind-Value="LoginModel.Instance" />
        <div>
            <button type="submit" class="btn btn-primary">
                Log In
            </button>
        </div>
    </EditForm>

    <EditForm Model="AuthModel" OnValidSubmit="AuthorizeViaFormAsync">
        <InputText @bind-Value="AuthModel.AuthCode" />
        <div>
            <button type="submit" class="btn btn-primary">
                Authorize
            </button>
        </div>
    </EditForm>
}
else if (HomeTimeline is not null)
{
    foreach (var status in HomeTimeline)
    {
        <p>@status.Content</p>
    }
}
